<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Cart</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/image/icon/apple-touch-icon.png'%}" >
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">

    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery.countdown.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-2.css' %}">
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-2 header-intro-clearance">

                       <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                    <a href="index.html" class="logo">
                        <img src="{% static 'logo1.png' %}" alt="Molla Logo" width="180" height="20">
                    </a>
                    </div>
                    <div class="header-left">

                        <div class="dropdown category-dropdown">
    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                Browse Categories
                            </a>
                            <div class="dropdown-menu">
                                    <nav class="side-nav">
                                        <ul class="menu-vertical sf-arrows">
                                        <li><a href="{% url 'digitalproducts' %}"><b>Digital-Products</b> </a></li>
                                        <li><a href="{%  url 'furniture' %}"><b>Furniture</b></a></li>
                                        <li><a href="{% url 'clothing' %}"><b>Clothing</b></a></li>
                                        <li><a href="{% url 'household' %}"><b>Housholds</b></a></li>

                                    </ul><!-- End .menu-vertical -->
                                </nav><!-- End .side-nav -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .category-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu">
                                <li class="megamenu-container active">
                                    <a href="{% url 'index' %}">Home</a>

                                </li>
                               <li><a href="{% url 'products' %}" >

                                Product</a> </li>
                                <li>

                                    <a href="#" >
                                     User Account</a>
                                    <ul class="menu-vertical">
                                        <li>
                                            <a href="{% url 'register' %}"><b>User-Register</b> </a></li>

                                         <li><a href="{% url 'login' %}"><b>User-Login</b></a>
                                        </li>
                                    </ul>


                                </li>
                                <li>
                                    <a href="#">Admin Account</a>
                                    <ul class="menu-vertical">
                                        <li><a href="{% url 'alogin' %}"><b>Admin Login</b></a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="contactus.html" >Contact-US</a>
                                </li>

                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->
                </div>
                       </div>
        </header>
        <!-- Plugins JS File -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
                <script src="{% static 'assets/js/demos/demo-2.js' %}"></script>
    </div></body>


<!-- molla/index-1.html  22 Nov 2019 09:55:32 GMT -->
</html>